<div class="container">

<div class="row">
<div class="col-md-6">
<app-numofemp></app-numofemp>
</div>
<div class="col-md-6">
<app-birthdayinfo></app-birthdayinfo>
</div>
</div>

<br>

<div class="row">
<div class="col-md-6">
<app-emppos></app-emppos>
</div>
<div class="col-md-6">
<app-progression></app-progression>
</div>
</div>

<br>

<div class="row">
<div class="col-md-6">
<app-gendergraph></app-gendergraph>
</div>
<div class="col-md-6">
<app-progressbars></app-progressbars>
</div>
</div>

</div>




 
 
 