<div class="container-fluid">
<div class="row justify-content-between">
<div class="card col-6">
<h2>{{profile?.user?.first_name}} {{profile?.user?.last_name}}</h2>
<div class="card-boy">
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2"><h5>My Details</h5></th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>First Name</td>
      <td>{{profile?.user?.first_name}}</td>
      
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{profile?.user?.last_name}}</td>
    </tr>
    <tr>
      <td>Phone Number</td>
      <td>{{profile?.phone_number}}</td>
    </tr>
    <tr>
      <td>Address</td>
      <td>{{profile?.physical_address}}</td>
    </tr>
    <tr>
      <td>Personal Email</td>
      <td>{{profile?.personal_email}}</td>
    </tr>
    <tr>
      <td>ID Number</td>
      <td>{{profile?.id_number}}</td>
    </tr>
    <tr>
      <td>Birthday</td>
      <td>{{profile?.birth_date}}</td>
    </tr>
    <tr>
      <td>Age</td>
      <td>{{profile?.age}}</td>
    </tr>
    <tr>
      <td>Gender</td>
      <td>{{profile?.gender}}</td>
    </tr>
    <tr>
      <td>Race</td>
      <td>{{profile?.race}}</td>
    </tr>
    <tr>
      <td>Days to Birthday</td>
      <td>{{profile?.days_to_birthday}}</td>
    </tr>
   
  </tbody>
</table>

        </div>
        </div>


        <div class="card col-6">
<h2>{{profile?.user?.first_name}} {{profile?.user?.last_name}}</h2>
<div class="card-boy">
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2"><h5>Employee Details</h5></th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Tax Number</td>
      <td>{{profile?.tax_number}}</td>
      
    </tr>
    <tr>
      <td>Email</td>
      <td>{{profile?.email}}</td>
    </tr>
    <tr>
      <td>Username</td>
      <td>{{profile?.user?.username}}</td>
    </tr>
    <tr>
      <td>Github Name</td>
      <td>{{profile?.github_user}}</td>
    </tr>
    <tr>
      <td>Start Date</td>
      <td>{{profile?.start_date}}</td>
    </tr>
    <tr>
      <td>Next Review</td>
      <td>{{profile?.next_review}}</td>
    </tr>
    <tr>
      <td>Years Worked</td>
      <td>{{profile?.years_worked}}</td>
    </tr>
    <tr>
      <td>Leaves Remaining</td>
      <td>{{profile?.leave_remaining}}</td>
    </tr>
 
  
  </tbody>
</table>

        </div>
        </div>
        </div>
        </div>

